/* MAIN CONTAINERS*/
.Top-container {
    gap: 6%;
    display: flex;
    background-color: #19A7CE;
    color: #F6F1F1;
    font-size: 180%;
    padding: 0;  

    position: relative;
    width: 100%;
    top:0;

}
.box {
    width: fit-content;
    height: fit-content;
}
.Middle-container {
    background-color: #F6F1F1;
    font-family: 'monofett-regular', monospace;
    font-size: 120%;
    line-height: 120%;
    padding: 0.5% 0;
    margin: 0 0 0 0;
    left: 0;
    right: 0;
    position: relative;
    width: 100%;
    display: flex;
}
.Bottom-container {
    background-color: #F6F1F1;
    color: black;

    text-align: center;
    font-family: 'monofett-regular', monospace;
    font-size: 100%;

    padding: 0.5%;
    position: relative;
    margin: 2% 20% 0 20%;
    width: 60%;

    border-radius: 20px;
    border-color: #19A7CE;
    border-style: solid;
    border-width: 4px;

  
}
.Bottom-container1{
    background-color: #F6F1F1;
    color: black;

    text-align: center;
    font-family: 'monofett-regular', monospace;
    font-size: 100%;

    padding: 0.5% 1% 0.5% 1%;
    position: relative;
    margin: 2% 20% 0 20%;
    width: 60%;
    column-gap: 10%;

    border-radius: 20px;
    border-color: #19A7CE;
    border-style: solid;
    border-width: 4px;

    
}
.Bottom-container2, .Bottom-container3 {
    background-color: #F6F1F1;
    color: black;

    text-align: left;
    font-family: 'monofett-regular', monospace;
    font-size: 100%;

    padding: 0.5% 0% 0.5% 2%;
    position: relative;
    margin: 1.5% 20% 1% 20%;
    width: 60%;

    border-radius: 20px;
    border-color: #19A7CE;
    border-style: solid;
    border-width: 4px;
    
}
.Bottom-container4 {
    background-color: #F6F1F1;
    color: black;

    text-align: left;
    font-family: 'monofett-regular', monospace;
    font-size: 100%;

    padding: 0.5% 2% 0.5% 2%;
    position: relative;
    margin: 1% 24% 4% 24%;
    width: 50%;

    border-radius: 20px;
    border-color: #19A7CE;
    border-style: solid;
    border-width: 4px;
    
}
.Bottom-container5 {
    background-color: #F6F1F1;
    color: black;

    text-align: left;
    font-family: 'monofett-regular', monospace;
    font-size: 100%;

    padding: 0.5% 0% 0.5% 2%;
    position: relative;
    margin: 2% 20% 0% 20%;
    width: 60%;

    border-radius: 20px;
    border-color: #19A7CE;
    border-style: solid;
    border-width: 4px;
    
}
body {
    background-color: rgb(28, 28, 28);
    color: #d8d8d8;
    font-family: 'monofett-regular', monospace;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #19A7CE;
    color: #F6F1F1;
    text-align: center;
    font-family: 'monofett-regular', monospace;
    font-size: 90%;  
    width: 100%; 
    position: relative;

    padding-bottom: 0.5%;
    padding-top: 0.5%;
    left: 0;
    bottom: 0;
    margin: 0;
}
/**************************************************/
/* IMAGES */
.orca-image {
    width: 225px;
    height: fit-content;
    position: static;
    display: inline-block;
    margin: 0 0% 0 20%;
    padding: 0%;
}
.half-orca-image {
    width: 10%;
    height: auto;
    position:relative;
    
    margin-left: 80%;
}
.poster-image {
  width: 50%;
  height: auto;
  margin: 2% 25%  0 26%;
  position: center;
  border-radius: 10px;
}
.orca-cauda-image {
    width: 12.5%;
    height: auto;
    margin: 0 0 0 45%;
    position: relative;
}


/**************************************************/
/* OTHER ELEMENTS */
h1 {
    font-family: 'monofett-regular', monospace;
    text-shadow: #146C94 2px 2px 4px;
    margin: 10%  10% 0 0;
    left: 0;
    display: inline-block;
    width: 100%;
    
}    
a {
    margin: 0 9.5%;
    color: black;
    text-decoration: none;

}

.menu-on-page {
    margin: 0 9.5%;
    color: #19A7CE;
    text-decoration: none;
}
a:hover {
    color: #19A7CE;
}

.Bottom-container3 ul li {
    margin-bottom: 1em; /* Adds space below each list item */
}
.Bottom-container5 ul li {
    margin-bottom: 1em; /* Adds space below each list item */
    width: 95%;
}
.poster-source {
    text-align: center;
    margin:0;
}
/* ---- Default (desktop) ---- */
.menu-icon {
  display: none; /* hidden on desktop */
}

.stack {
  display: none; /* hidden by default */
}

.stack.active {
  display: flex;
  flex-direction: column;
  background: #F6F1F1;
  padding: 1rem;
    width: 30%;
  margin: 0 1%;
  border-radius: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: #19A7CE;
}

.stack a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0;
}
.stack a:hover {
  color: #19A7CE;
}

@media (max-width: 768px) {
    h1 {
        font-size: 90%;
        margin: 0%  2% 0 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: fit-content;
        
    }
    .orca-image {
        width: 200px;
        height: fit-content;
        position: static;
        display: inline-block;
        margin: 0 0% 0 2%;
        padding: 0%;
    }
    .orca-cauda-image{
        width: 25%;
        height: auto;
        margin: 0 0 0 37.5%;
        position: relative;
    }
    .half-orca-image {
        width: 20%;
        height: auto;
        position:relative;
        
        margin-left: 70%;
    }
    .Top-container{
        flex-direction: column;
        align-items: center;
        gap: 1%;
        padding: 2% 0;
    }
    .Middle-container{
        display:none;
    }
   
    .menu-icon {
       display: block; /* show hamburger */
      font-size: 28px;
      cursor: pointer;
      padding: 0.5% 4%;
      color: #19A7CE;
      background-color: #F6F1F1;
      margin: 0;

    }

    .stack {
     display: none; /* hidden until toggled */
    }

    .stack.active {
      display: flex;
    }

  .Bottom-container, .Bottom-container1, .Bottom-container2, .Bottom-container3, .Bottom-container4, .Bottom-container5 {
    width: 90%;
    margin: 20px 5%  0  5%;
    font-size: 90%;
    padding: 2% 0 2% 0;
  }
  .footer {
    font-size: 70%;
    padding: 1% 0;
  }
}
/**************************************************/
/* Fontes importadas do Google Fonts */

.monofett-regular {
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
}


.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/**************************************************/


















